@{
    ViewData["Title"] = "Add Beneficiary";
}
@model BeneficiaryViewModel
<div class="row">
    <div class="col-md-12 col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Beneficiary</h4>
                <p class="card-description"> Provide details below </p>
                <form method="post" asp-action="AddBeneficiary">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                            </div>
                            <input asp-for=FullName class="form-control" placeholder="Full Name" aria-label="FullName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                            </div>
                            <input asp-for=AccountNumber class="form-control" placeholder="Account Number" aria-label="Account">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                            </div>
                            <select asp-items="@ViewBag.BankId" asp-for=BankId class="form-control" aria-label="Bank">
                                <option>Please select Bank</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                            </div>
                            <input asp-for=Sender class="form-control" placeholder="Sender Name" aria-label="Sender">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                            </div>
                            <input asp-for=SenderNumber class="form-control" placeholder="Sender Number" aria-label="SenderNUMBER">
                        </div>
                    </div>
                    <!---->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="button-container">
                                <button type="submit" class="button btn-lg btn btn-primary"><span>Add Beneficiary</span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
